@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #393e46;;
}

navbar .logo {
  text-align: center;
  font-size: 28px;
  color: whitesmoke;
  font-weight: bold;
  padding: 0 12%;
  margin-top: 32px;
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
  .main .create-join {
    width: 100%;
    margin-right: 0;
  }
  .main .video-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.overlay {
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #393e46;
}

.box {
  width: 500px;
  margin: 0 auto;
  height: 250px;
  background-color: #ffffff;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
}

.head-name {
  padding-top: 40px;
  text-align: center;
  color: #393e46;
  font-weight: bold;
}

.name-field {
  margin: 0px auto;
  margin-top: 20px;
  border: 0;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  border-bottom: 3px solid rgb(0,37,255);
  color: #393e46;
  height: 40px;
}

.name-field:focus {
  outline: none;
}

.continue-name {
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
  font-weight: bold;
  background-color: rgb(0,37,255);
  padding: 12px 20px;
  border-radius: 10px;
  transition: opacity 0.5s;
}

.continue-name:hover {
  opacity: 0.8;
  cursor: pointer;
}

.continue-name:focus {
  outline: 0;
}

.container {
  margin: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: #ecf0f1;
}

.left-container {
  width: 100%;
  background-color: #393e46;
  height: 100vh;
  padding: 50px;
  text-align: center;
  position: relative;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 77vh;
}
.video-container .video-box {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.video-container .video-box .video-frame {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.video-container .video-box .participant-name {
  color: white;
  bottom: 10px;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.video-container .video-box .video-off {
  color: white;
  bottom: 10px;
  position: absolute;
  font-weight: bold;
  size: xx-large;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.video-container .video-box .mute-symbol {
  color: red;
  position: absolute;
  bottom: 10px;  
  right: 10px;
  font-size: 30px;
}
.video-container-single {
  height: 77vh;
}
.video-container-single .video-box {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  max-width: 1150px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}
.video-container-single .video-box .video-frame {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.video-container-single .video-box .participant-name {
  color: white;
  bottom: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.video-container-single .video-box .video-off {
  color: white;
  bottom: 10px;
  font-weight: bold;
  position: absolute;
  size: xx-large;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.video-container-single .video-box .mute-symbol {
  color: #d63434;
  bottom: 10px;
  position: absolute;
  right: 10px;
  font-size: 20px;
  bottom: 10px;
}
.footer {
  background-color: rgb(37, 37, 37);
  position: relative;
  margin-bottom: 10px;
}
.utils {
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  width: 100%;
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
  padding: 15px;
  justify-content: center;
}
.audio {
  background-color: rgb(0,37,255);
  text-align: center;
  margin-left: 10px;
  color: white;
  padding: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.audio:hover {
  cursor: pointer;
  background-color: #393e46;
}
.camera {
  background-color: rgb(0,37,255);
  text-align: center;
  color: white;
  padding: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.camera:hover {
  cursor: pointer;
  background-color: #393e46;
}

.copycode-cont{
  display:none;
}

.cutcall:hover {
  cursor: pointer;
  background-color: red !important;
}

.icon {
  background-color: rgb(0,37,255);
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  transition: background-color 0.3s;
}

.icon:hover {
  cursor: pointer;
  background-color: #393e46;
}

.right-container {
  background-color: rgb(37, 37, 37);
  display: none;
  width: 30%;
  background-color: rgb(37, 37, 37);
  color: rgb(37, 37, 37);
  height: 100vh;
}

.head-title {
  font-weight: bold;
  color: whitesmoke;
  background-color: rgb(37, 37, 37);
  width: 100%;
  display: flex;
  border-bottom: 2px solid #393e46;
}

.chats {
  padding: 10px;
  padding-top: 10px;
  margin-left: 20px;
  width: 100%;
  text-align: center;
  transition: background-color 0.5s;
}

.chat-container {
  background-color: rgb(37, 37, 37);
  height: 84vh;
  padding: 10px;
  padding-top: 10px;
  overflow-y: scroll;
}

.message {
  padding: 10px;
  background-color: rgb(37, 37, 37);
  width: 100%;
  color: whitesmoke;
  border-radius: 2px;
  word-break: break-all;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}

.info {
  display: flex;
  font-size: 1.1rem;
}

.username {
  font-weight: bold;
  color: rgb(0,37,255);
}
.time {
  margin-left: 12px;
}

.content {
  margin-top: 5px;
  font-size: 1rem;
}

.chat-input-container {
  position: absolute;
  bottom: 10px;
  padding: 12px;
  display: flex;
  height: 60px;
  width: 20%;
  background-color: rgb(37, 37, 37);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}

.chat-input-box {
  width: 100%;
}

.chat-send-box {
  width: 10%;
  margin-left: 10px;
}

.chat-input {
  width: 100%;
  height: 36px;
  font-size: 0.85rem;
  padding: 4px 10px;
  border: none;
  border-bottom: 3px solid rgb(0,37,255);
  color: whitesmoke;
}

.chat-input:focus {
  outline: none;
}

.chat-send {
  height: 36px;
  padding: 5px 20px;
  border: none;
  background-color: rgba(20, 59, 8, 0.87);
  color: rgb(0,37,255);
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 2px;
  transition: background-color 0.5s;
}

.chat-send:hover {
  color: #2980b9;
  cursor: pointer;
  background-color: #f3f3f3;
}

.chat-send:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}